<div class="map" id="map"></div>

<div class="map__mode">
  <select class="map__select" [(ngModel)]="selectedMode" (change)="changeMode(selectedMode)">
    <option [value]="MAP_MODE.DEFAULT">Default mode</option>
    <option [value]="MAP_MODE.SIMPLE">Simple mode</option>
    <option [value]="MAP_MODE.NATURAL">Natural mode</option>
  </select>
</div>

<div class="map__toolbar">
  <button class="map__btn map__btn--draw" (click)="useAction(MAP_ACTION.DRAW_POLYGON)">
    <span class="tooltip">Draw Polygon</span>
  </button>
  <button class="map__btn map__btn--edit" (click)="useAction(MAP_ACTION.DIRECT_SELECT)">
    <span class="tooltip">Edit Points</span>
  </button>
  <button class="map__btn map__btn--select" (click)="useAction(MAP_ACTION.SIMPLE_SELECT)">
    <span class="tooltip">Select</span>
  </button>
  <button class="map__btn map__btn--delete" (click)="useAction(MAP_ACTION.TRASH)">
    <span class="tooltip">Delete</span>
  </button>
  <button class="map__btn map__btn--extrude" (click)="changeExtrudeHeight()">
    <span class="tooltip">Change Extrude Height</span>
  </button>
</div>
